* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    background-color: rgb(144, 144, 226);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
    border: 1px solid;
}


 nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #000;
    padding: 10px;
}

nav ul a {
    text-decoration: none;
    padding: 10px;
}

.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.section-hero .container-hero {
    display: flex;
}

.section-hero .conteudo-hero {
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.conteudo-hero h2 {
    font-size: 42px;
}

.conteudo-hero p {
    font-size: 20px;
    margin: 50px auto;
}

.section-hero button {
    padding: 10px 15px;
    width: 200px;
    border-radius: 20px;
    display: block;
    margin: 150px auto;
    border: none;
    background-color: black;
    color: white;
}

.section-recursos {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.section-recursos .container-recursos {
    display: grid;
    grid-template-areas: 'email alertas api'
    'conhecimento campos comunicacao';
    align-items: center;
    row-gap: 20px;
}

.email,
.alertas,
.api,
.conhecimento,
.campos-personalizados,
.comunicacao {
    text-align: center;
    width: 300px;
    height: 200px;
    /* background-color: orangered; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-recursos img {
    width: 50px;
}

.email {
    grid-area: email;
}

.alertas {
    grid-area: alertas;
}
.api {
    grid-area: api;
}

.conhecimento {
    grid-area: conhecimento;
}
.campos-personalizados {
    grid-area: campos;
}
.comunicacao {
    grid-area: comunicacao;
}